/*General Styling*/
main{
    padding-left: 5%;
    padding-right: 5%;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    overflow: hidden;
}

ul li{
    float: inline-start;
    padding-right: 5%;
}

.drag_queen_circle{
    text-align: center;
    height: 140px;
    width: 140px;
    background-color: #bbb;
    border-radius: 50%;

} /*Make circle scalable*/

/*Home Page*/
.home_hero{
    display: flex;
    clear: both;
    margin-bottom: 5vh;
}

.season_image{
    width: 30vw;
    height: 30vh;
    background-color: #bbb;
    border-radius: 0%;
    margin-right: 5vw;
}

.home_banner{
    height: 40vh;
    padding: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e4ccff;
}

.home_grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 2%;
}

.home_drag_queen{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-right: 20vw;
}

.home_drag_queen_name{
    
}

/*Individual Drag Queen Page*/
.drag_queen_container{
    display: flex;
}

.drag_queen_image{
    width: 300px;
    height: 400px;
    background-color: #e4ccff;
    margin-left: 30vw;
    text-align: center;
}

/*Drag Queen Intro Page*/
/* info for how to make a carousel: https://blog.hubspot.com/website/bootstrap-carousel-css*/
.drag_queens_carousel{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: lavender;
}

.drag_queens{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;   /*wtf?*/
    width: 25vw;
    height: 250px; 
    scroll-behavior: smooth;
    scroll-snap-align: start;  
}

.drag_queens_reputable_grid{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.one_drag_queens_reputable{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.drag_queens_reputable_square{
    width: 200px;
    height: 300px;
    background-color: #bbb;
}

/*Drag Queen Intro Page*/

/*Season Information Page*/
.season_info_hero_image{
    display: flex;
    width: 100%;
    height: 40%;
    background-color: #e4ccff;
    align-items: center;
    justify-content: center;
}

.season_queens{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

.season_queen{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.season_queen_circle{
    width: 70px;
    height: 70px;
}

.season_queen_name{
    text-align: center;
}