/*General Styling*/
main{
    padding-left: 5%;
    padding-right: 5%;
}

ul{
    list-style-type: none;
    overflow: hidden;
}

ul li{
    float: inline-start;
    padding-right: 5%;
}

/*Home Page*/
.home_hero{
    display: flex;
    clear: both;
    margin-bottom: 5vh;
}

.season_image{
    width: 30vw;
    height: 30vh;
    background-color: #bbb;
    border-radius: 0%;
    margin-right: 5vw;
}

.home_banner{
    height: 40vh;
    padding: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: lavender;
}

.home_grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 2%;
}

.drag_queen{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.drag_queen_circle{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
}

.drag_queen_name{
    
}
/*Make circle scalable*/