/*Fonts*/
@font-face {
    font-family: Shrikhand;
    src: url(/static/fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Hello Denver;
    src: url(/static/fonts/hello-denver-display/hellodenverdisplayregular_v1.6.woff);
}

@font-face {
    font-family: Be Vietnam Pro;
    src: url(/static/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf);
}

@font-face {
    font-family: Bungee Shade;
    src: url(/static/fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: Bungee Outline;
    src: url(/static/fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}
/*General Styling*/
body{
    width: 100vw;
    margin: 0;
}

main{
    background-image: url(/static/photos/other/possible\ backgrounds/1.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    padding-top: 64px;
    width: 120vw;
}

h1{
    font-family: Hello Denver;
    color:azure;
}

h2{
    font-family: Bungee Shade;
    color: azure;
}

h3{
    font-family: Be Vietnam Pro;
    color: azure
}

a{
    text-decoration: none;
}

.bungee_shade{
    font-family: Bungee Shade;
}

/*Navigation bar*/
nav{
    background-color: #5a2f88;
    width: 100vw;
    height: 50px;
    padding-top: 20px;
    position: fixed;
    z-index: 2;
    clear:both;
}

.navgrid{
    display: grid;
    grid-template-columns: 200px 200px 200px auto;
}

.navflex{
    display: flex;
    justify-content: center;
    font-family: Shrikhand;
}

.navflex a{
    color: #e4ccff;
    position: relative;
    font-size: 20px;
    font-family: Shrikhand;
}

.navflex a::after{
    content: '';
    height: 0.1em;
    width: 0;
    top: 1.1em;
    left: 0;
    position: absolute;
    background-color: white;
    transition:width 0.2s;
}

.navflex a:hover::after{
    width: 100%;
}

.nav_right_logged_in{
    display: flex;
    justify-content: end;
    margin-left: 500px;
    gap: 100px;
}

.nav_right{
    display: flex;
    justify-content: end;
    padding-right: 40px;
    gap: 100px;
}

.nav_admin a{
    font-family: Shrikhand;
    font-size: 20px;
    color: #e4ccff;
}

.loginbtn{
    position: relative;
    right: 10px;
    bottom: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
    background: #e4ccff;
    border-radius: 10px;
    transition: background 1s;
}

.loginbtn a{
    font-family: Shrikhand;
    color: rgba(142, 63, 211, 0.7);
    font-size: 20px;
    transition: color 1s;
}

.loginbtn:hover{
    background: #bb88f5;
}

.loginbtn:hover a{
    color: rgb(228, 202, 247);
}

.navgridalt{
    display: grid;
    grid-template-columns: 200px 200px 200px auto 200px;
}
/*Home Page*/
.home_hero{
    display: grid;
    grid-template-columns: 768px 512px;
    margin-bottom: 40px;
    height: 560px;
    background-color: #0c021781;
}

.home_hero_text{
    display: grid;
    grid-template-rows: 400px 160px;
}

.home_title{
    background-image: url(/static/photos/other/home_page_hero.webp);
    background-position: 0px 160px;
    background-size: 768px 768px;
    height: 384px;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 8px #07010f inset;
    position: relative;
} 

.home_subtitle{
    padding-left: 128px;

}

.home_hero_rupaul{
    background-image: url(/static/photos/other/home_page_hero.webp);
    background-position: 0px -180px;
    background-size: 640px 640px;
    padding-top: 30px;
    width: 512px;
    height: 500px;
    background-repeat: no-repeat;

}
.home_franchise{
    height: fit-content;
    padding: 30px;
}

.home_queens{
    height: fit-content;
}
.home_franchises_lineup{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 1250px;
    height: fit-content;
    margin: 20px;
}

.home_franchise_poster_lineup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.home_franchise_poster_lineup img{
    width: 200px; 
    height: 200px;
    position: relative; 
    box-shadow: none;
    right: 0;
    bottom: 0;
    transition: box-shadow 1s, right 1s, bottom 1s;
}

.home_franchise_poster_lineup img:hover{
    box-shadow: #e4ccff 10px 10px;
    right: 4px;
    bottom: 4px;
}

.home_franchise_poster{
    background-color: #e4ccff;
    position: relative; 
    width: 200px; 
    height: 200px;
    right: 0;
    bottom: 0;
    transition: right 1s, bottom 1s, background-color 1s;
}

.home_franchise_poster:hover{
    right: 4px;
    bottom: 4px;
    background-color: none;
}

.home_franchise_poster img{
    font-family: Shrikhand;
    color: white;
}

.home_drag_queen{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;   
}

.drag_queen_circle{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #e4ccff;
    border: none;
    transition: border 0.3s;
} 

.drag_queen_circle img{
    display: block;
    object-fit: cover;
    border: none;
    color: white;
    font-family: Be Vietname Pro;
    transition: border 0.3s;
}

.home_drag_queen_name{
    display: flex;
    text-align: center;
}

.home_drag_queen_name h3{
    position: relative;
}

.home_drag_queen_name h3::after{
    content: '';
    width: 0;
    height: 0.1em;
    top: 1.1em;
    left: 0;
    background-color: #9b57ef;
    position: absolute;
    transition: width 0.6s;
}

.home_drag_queen:hover .home_drag_queen_name h3::after{
    width: 100%;
}

.home_drag_queen:hover .drag_queen_circle img{
    border: 3px solid #9b57ef;
}

/*Individual Drag Queen Page*/
.drag_queen_container{
    display: grid;
    grid-template-columns: 700px 300px;
    height: 100%;
    margin-left: 10vw;
    margin-right: 40px;
    margin-top: 10vh;
}

.drag_queen_info{
    padding-top: 0vh;
}

.drag_queen_quote h2{
    color: white;
    font-family: Shrikhand;
}

.drag_queen_image_container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 350px;
    height: 510px;
    margin-left: 10vh;
    border-radius: 10%;
    background: linear-gradient(0.2turn, rgba(142, 63, 211, 0.7), rgba(211, 63, 196, 0.8))
}

.drag_queen_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 300px;
}

.drag_queen_image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4ccff;
    border-radius: 10%;
    width: 300px;
    height: 422px;
}

.drag_queen_img{  
    width: 300px;
    height: 400px;
    font-family: Shrikhand;
    color: white;
    object-fit: contain;
}

/*Drag Queen Intro Page*/
/* info for how to make a carousel: https://blog.hubspot.com/website/bootstrap-carousel-css*/
.drag_queens_filter{
    padding: 30px;
}

.filter_btn{
    background-color: #9b57ef;
    border: none;
    padding: 2px 38px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    flex-wrap: wrap;
    transition: border 0.5s, background-color 0.5s;
}

.filter_btn h2{
    font-family: Be Vietnam Pro;
}

.filter_btn:hover{
    border: #9b57ef 2px solid;
    background-color: #925bf700;
}

.filter_btn:hover h2{
    color: #9b57ef;
}

.selected{
    background-color: #5e15b7;
}

/*Season Information Page*/
.season_info_hero_image_container{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 550px;
    background-color: #070707a1;
}

.season_info_hero_image_background{
    width: 1000px;
    height: 100%;
    background-color: #e4ccff;
}

.season_info_hero_image{
    object-fit: cover;
    color: white;
    font-family: Bungee Shade;
    width: 1000px;
    height: 100%;    
}

.season_queens{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

.season_queen{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
}

.season_queen_circle{
    width: 100px;
    height: 100px;
    text-align: center;
    word-wrap: break-word;
}

.season_queen_name{
    text-align: center;
}

.episode_section{
    padding: 30px;

}

.episodes{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding-left: 50px;
    width: 1400px;
    overflow-y: hidden;
}

.episode_container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.episode_container h3{
    position: relative;
}

.episode_name::after{
    content: '';
    background-color: #9b57ef;
    width: 0;
    height: 0.1em;
    left: 0;
    top: 1.3em;
    position: absolute;
    transition: width 1.5s;
}

.episode_container:hover .episode_name::after{
    width: 100%;
}

.seasons_episodes_img{
    width: 400px;
    height: 224.8px;
    background-color: #e4ccff;
}

.episode{
    width: 400px;
    height: 224.8px;
    object-fit: cover;
    border: none;
    transition: border 1s;
    position: relative;
    font-family: Shrikhand;
    color: white;
    transition: border 0.5s;
}

.episode_filter{
    background-color: none;
    backdrop-filter: none;
    width: 400px;
    height: 224.8px;
    position: absolute;
    transition: background-color 0.5s, backdrop-filter 0.5s;
}

.episode_container:hover .episode_filter{
    background-color: rgba(10, 10, 10, 0.383);
    backdrop-filter: blur(0.2px);
}

.episode_container:hover .episode{
    border: 1.5px #9b57ef solid;
}

/*Episode Information*/
.episode_padding{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
}

.episode_back_link{
    position: relative;
}

.episode_back_link h3{
    color: #e4ccff;
}

.episode_back_link::after{
    content: '';
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 0;
    height: 0.1em;
    transition: width 0.5s;
    background-color: #e4ccff;
}

.episode_back_link:hover::after{
    width: 220px;
}

.episode_header{
    display: grid;
    grid-template-columns: 600px 700px;
    clear: both;
    height: fit-content;
    padding: 50px;
    padding-top: 10px;
}

.episode_info{
    padding-right: 30px;
}

.episode_info h2{
    font-family: Bungee Shade;
}

.episode_img_container{
    width: 500px;
    height: 300px;
    background-color: #e4ccff;
}

.episode_img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    color: white;
    font-family: Shrikhand;
}

.episode_queen_rankings_container{
    padding: 50px;
}

.episode_queen_rankings{
    display: grid;
    grid-template-columns: 20% auto;
}

.episode_queen_graph{
    border: solid 1px lavender;
    background-color: #e4ccff87;
    height: 70px;
}

.episode_rank{
    display: flex;
    justify-content: start;
    padding-left: 30px;
}

.episode_drag_queen{
    display: flex;
    padding-left: 1vw;
    align-items: center;
    gap: 1vw;
}

.episode_circle{
    height: 50px;
    width: 50px;
}

.episode_drag_queen_name{
    position: relative;
}

.episode_drag_queen_name::after{
    content: '';
    width: 0;
    height: 0.1em;
    top: 1.1em;
    left: 0;
    background-color: #8128ef;
    position: absolute;
    transition: width 0.6s;
}

.episode_drag_queen:hover .episode_drag_queen_name::after{
    width: 100%;
}

.episode_drag_queen:hover .episode_circle img{
    border: 1.5px solid #8128ef;
}

/*Grand Finale page*/
.grand_finale_contestant_container{
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
    padding-top: 10px;
    border: solid 3px lavender;
    margin-bottom: 20px;
}

.grand_finale_title{
    margin-bottom: 35px;
}

.grand_finale_contestants{
    display: grid;
    width: 100vh;
    grid-template-columns: 200px auto;
    padding-bottom: 40px;
}

.grand_finale_link{
    position: relative;
}
.grand_finale_link h3{
    color: #e4ccff;
}

.grand_finale_link::after{
    content: '';
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 0;
    height: 0.1em;
    transition: width 0.5s;
    background-color: #e4ccff;
}

.grand_finale_link:hover::after{
    width: 70px;
}

/*404*/
.error_text_container{
    display: grid;
    grid-template-columns: auto;
}

.error_buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 20vh;
    margin-top: 3vh;
}

.error_button{
    background-color: #9c78c5;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50%;
    width: 180px;
    transition: background-color 1s;
}

.error_button:hover{
    background-color: rgba(142, 63, 211, 0.7);
}

.error_button h2{
    font-family: Be Vietnam Pro;
    font-size: 16px;
}

.error_text{
    display: flex;
    justify-content: center;
    padding: -40px;
    align-items: center;
}

.fourofour{
    font-size: 20vh;
    height: 50vh;
}

/*Login*/
.big_login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.small_login_container{
    position: relative;
    padding: 20vw;
    border-radius: 10px;
    border: solid 2px #e4ccff;
    background-color: #e4ccff5d;
}

.login_error{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(0.2turn, rgba(63, 211, 186, 0.8),rgba(142, 63, 211, 0.7)); 
    border-radius: 6px 6px 0 0;
    font-size: 90%;
}

.login_input{
    width: 120%;
    height: 180%;
    border-radius: 7px;
    border: 1px #e4ccff solid;
    font-size: 100%;
    font-family: Be Vietnam Pro;
    padding-left: 5%;
}

.login_form_container{
    display: flex;
    justify-content: center;
}

.login_form{
    position: absolute;
    top: 30%;
    left: 10%;
    display: grid;
    grid-template-columns: auto;
    width: 80%;
}

.login_form_input{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;
}

.login_submit{
    margin-top: 10%;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    font-family: Be Vietnam Pro;
    background-color: #9c78c5;
    color: white;
    transition: background-color 0.5s;
}

.login_submit:hover{
    background-color: rgba(142, 63, 211, 0.7);
}
/*Admin*/
.admin_container{
    height: 100vh;
    width: 100vw;
}

.admin_tables{
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: #1b0535;
    margin-right: 50px;
    overflow: scroll;
    z-index: 1;
}

.admin_form_container{
    position: absolute;
    left: 470px;
    width: 90vh;
}

.admin_title{
    padding-top: 20px;
    padding-left: 50px;
}

.admin_title:nth-last-child(){
    padding-bottom: 100vh;
}
.table_title{
    font-size: 30px;
    font-family: Bungee Shade;
    color: white;
    padding-top: 5vh;
    margin-bottom: 20px;
}

.admin_table{
    background-color: #1b0535;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 0.3s;
}

.admin_table:hover{
    background-color: #56416d;
}

.admin_selected_table{
    background-color: #56416d;
    padding-bottom: 10px;
    padding-top: 10px;
}

.admin_inputs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 30px;
    row-gap: 30px;
}

.admin_form_title{
    font-size: 40px;
}

.admin_form_title h2{
    font-family: Shrikhand;
}

.admin_hr{
    border-top: 1px solid white;
    margin-top: -30px;
    margin-bottom: 5vh;
}

.admin_input{
    height: 10%;
}

.admin_input h3{
    margin: 5px;
}

.admin_submit{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    width: 100%;
}

.admin_submit_btn{
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(142, 63, 211, 0.7);
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Be Vietnam Pro;
    color: white;
    border-radius: 20px;
    box-shadow: none;
    transition: background-color 0.7s, box-shadow 0.5s, top 0.7s, left 0.7s;
}

.admin_submit_btn:hover{
    top: -4px;
    left: -4px;
    background-color: rgb(102, 33, 162);
    box-shadow: #e4ccff 3px 3px;
}

.admin_error{
    display: flex;
    align-items: center;
    padding-left: 5%;
    background: rgba(188, 50, 77, 0.83);
    width: 80%;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 1%;
    font-size: 11px;
}

.admin_sucess{
    background: linear-gradient(0.2turn, rgba(63, 211, 186, 0.8),rgba(142, 63, 211, 0.7)); 
}

.admin_errors{
    margin-bottom: 5vh;
}

/*Footer*/
footer{
    margin-top: -20px;
    padding-top: 5px;
    padding-left: 60px;
    background-color: #675876;
    height: 20%; 
    width: 115vw;
}

.footer_h2{
    color: white;
}

.footer_h2_alt{
    color: white;
    padding-left: 370px;
}
.footer_credit{
    color: #9b57ef;
}

.footer_credit:link{
    text-decoration: underline;
}

.footer_credit:hover{
    color: #9042ee;
}