{% extends "layout.html" %}
{% block content %}
<div class = "drag_queens_filter">
    <h2>Filter by:</h2>
    <div class = "drag_queens_filter_buttons">
        {% set btn_names = ["Seasons", "City", "Age"] %}
        {% for btn_page_id in range(3) %}
            {% set btn_id = btn_page_id+1 %}
            {% if btn_id == page_id %}
            <a href = "/drag_queens/{{btn_id}}">
                <button class = "filter_btn selected"><h2>{{btn_names[btn_page_id]}}</h2></button>
            </a>
            {% else %}
            <a href = "/drag_queens/{{btn_id}}">
                <button class = "filter_btn"><h2>{{btn_names[btn_page_id]}}</h2></button>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% if page_id == 0 %}
    <div class = "home_franchise home_queens">
        <h2>Meet the Queens of {{season_name}}</h2>
        <div class = "home_franchises_lineup">
            {% for i in range(0, drag_queen_names|length) %}
            <a href = "/drag_queen_info/{{drag_queen_ids[i]}}">
            <div class = "home_drag_queen">
                <div class = "drag_queen_circle">
                    <img class = "drag_queen_circle" src = "/static/photos/drag_queen_circle/{{drag_queen_ids[i]}}.webp" alt="?">
                </div>
                <div class = "home_drag_queen_name">
                    <h3>{{drag_queen_names[i]}}</h3>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class = "home_franchise home_queens">
        <h2>Some famous alumni</h2>
        <!--<div class = "drag_queens_carousel">-->
        <div class = "home_franchises_lineup">
            {% for i in range(0, famous_queen_ids|length) %}
            <a href = "/drag_queen_info/{{famous_queen_ids[i]}}">
            <div class = "home_drag_queen">
                <div class = "drag_queen_circle">
                    <img class = "drag_queen_circle" src = "/static/photos/drag_queen_circle/{{famous_queen_ids[i]}}.webp">
                </div>
                <div class = "home_drag_queen_name">
                    <h3>{{famous_queen_names[i]}}</h3>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>

{% else %}
    {% for heading in headings %}
        <div class = "home_franchise home_queens">
            <h2>{{heading}}</h2>
            <!--<div class = "drag_queens_carousel">-->
            <div class = "home_franchises_lineup">
                {% set drag_queen_ids = drag_queens[heading][0] %}
                {% set drag_queen_names = drag_queens[heading][1] %}
                {% for i in range(0, drag_queen_ids|length) %}
                <a href = "/drag_queen_info/{{drag_queen_ids[i]}}">
                <div class = "home_drag_queen">
                    <div class = "drag_queen_circle">
                        <img class = "drag_queen_circle" src = "/static/photos/drag_queen_circle/{{drag_queen_ids[i]}}.webp">
                    </div>
                    <div class = "home_drag_queen_name">
                        <h3>{{drag_queen_names[i]}}</h3>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{% endif %}
{% endblock %}