{% extends "layout.html" %}
{% block content %}
<h2>Meet the Queens of Season 16</h2>
<div class = "drag_queens_carousel">
    {% for i in range(0, drag_queen_names|length) %}
    <a href = "/drag_queen_info/{{drag_queen_ids[i]}}">
    <div class = "drag_queens">
        <div class = "drag_queen_circle">drag queen img</div>
        <h3>{{drag_queen_names[i]}}</h3>
    </div>
    </a>
    {% endfor %}
</div>

<h2>Reputable Ilumni</h2>
<div class = "drag_queens_reputable_grid">
    {% for i in range(1,5) %}
        <div class = "one_drag_queens_reputable">
            <div class = "drag_queens_reputable_square"></div>
            <h3>Drag Queen Name</h3>
            <h4>Description</h4>
        </div>
    {% endfor %}
</div>
{% endblock %}