<!doctype = html>
{% extends "layout.html" %}
{% block content %}
<div class = "drag_queen_container">
    <div class = "drag_queen_info">
        <div>
            <mark class = "drag_queen_quote"><h2>{{iconic_quote}}</h2></mark>
            <h3>City: {{city}}</h3>
            <h3>Age: {{age}}</h3>
            <h3>Specialty Skills: {{specialty_skills}}</h3>
        </div>
    </div>
    <div class = "drag_queen_image_container">
        <div class="drag_queen_card">
            <div class = "drag_queen_image">
                <img class="drag_queen_img" src = "/static/photos/drag_queen_profile/{{id}}.webp" alt="queen_img_not_found">
            </div>
                <h2>{{name}}</h2>
        </div>
    </div>
{% endblock %}
{% block footer %}
<h3>Drag queen image taken from:&nbsp;
    {% if img_credit == None or img_credit == ""%}
        Credit not found
    {% else %}
        <a class="footer_credit" href="{{img_credit}}">{{img_credit}}</a>
    {% endif %}
</h3>
{% endblock %}