{% extends "layout.html" %}
{% block content %}
<div class = "eepisode_header">
    <div class = "episode_info">
        <h1>{{episode_name}}</h1>
        <h2>Challenge Type: {{episode_challenge_type}}</h2>
        <p>{{episod_challenge_description}}</p>
    </div>
    <div class = "episode_img">
    </div>
</div>

<div class = "episode_queen_rankings">
{% for queen_list in queen_rankings %}
    {% if queen_rankings.index(queen_list) == 0 %}
    {% for queen in queen_list %}
        <div class = "drag_queen_circle"></div>
        <h2>{{queen}}</h2>
    {% endfor %}
    {% endif %}
{% endfor %}
</div>
{% endblock %}