{% extends "layout.html" %}
{% block content %}
<div class = "episode_header">
    <div class = "episode_info">
        <h1>{{episode_name}}</h1>
        <h2>Challenge Type: {{episode_challenge_type}}</h2>
        <p>{{episod_challenge_description}}</p>
    </div>
    <div class = "episode_img">
    </div>
</div>

<div class = "episode_queen_rankings">
    <div class = "episode_queen_graph">Rank</div>
    <div class = "episode_queen_graph">Drag Queen</div>
{% for queen_list in queen_rankings %}
    {% if queen_rankings.index(queen_list) == 0 %}
        {% set column_name = "Winner" %}
    {% endif %}
    {% if queen_rankings.index(queen_list) == 1 %}
        {% set column_name = "Top 2" %}
    {% endif %}
    {% if queen_rankings.index(queen_list) == 2 %}
        {% set column_name = "Safe" %}
    {% endif %}
    {% if queen_rankings.index(queen_list) == 3 %}
        {% set column_name = "Bottom 2" %}
    {% endif %}
    {% if queen_rankings.index(queen_list) == 4 %}
        {% set column_name = "Eliminated" %}
    {% endif %}
    {% if queen_rankings.index(queen_list) == 5 %}
        {% set column_name = "Immune" %}
    {% endif %}
    {% for queen in queen_list %}
        <div class = "episode_rank episode_queen_graph"><h3>{{column_name}}</h3></div>
        <div class = "episode_drag_queen episode_queen_graph">
            <div class = "drag_queen_circle episode_circle"></div>
            <h3>{{queen}}</h3>
        </div>
    {% endfor %}
    
{% endfor %}
</div>
{% endblock %}