{% extends "layout.html" %}
{% block content %}
<div class = "home_hero">
    <div class = "season_image"><p>season image</p></div>
    <div>
        <h1>Rerank the latest season!</h1>
        <h2>{{season_description}}</h2>
        <a href = "/season_info/1"><button>Get started</button></a> <!--Get most recent season-->
    </div>
</div>


<div class = "home_banner">
    <h1>If you were Rupaul...</h1>
</div>

<h1>Meet the Queens</h1>
<div class = "home_grid">
    {% for i in range(0, drag_names|length) %}
    <a href = "/drag_queen_info/{{i+1}}">
    <div class = "home_drag_queen">
        <div class = "drag_queen_circle"><p>img</p></div>
        <div class = "home_drag_queen_name">{{drag_names[i]}}</div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}