{% extends "layout.html" %}
{% block content %}
<div class = "home_hero">
    <div class="home_hero_text">
        <div class = "home_title"></div>
        <div class = "home_subtitle"><h1>THE SHOW FOR ASPIRING DEATH DROPPERS!</h1></div>
    </div>
    <div class = "home_hero_rupaul"></div>
</div>

<div class = "home_franchise">
    <h2>BINGE ALL THE FRANCHISES</h2>
    <hr>
    <div class = "home_franchises_lineup">
        {% for index in range(franchise_season_ids|length) %}
        <a href = "/seasons#franchise_id{{franchise_ids[index]}}">
            <div class = "home_franchise_poster_lineup">
                <div class="home_franchise_poster">
                    <img src = "/static/photos/seasons/{{franchise_season_ids[index]}}.webp" alt="img not found">
                </div>
                <h3>{{franchise_names[index]}}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<div class = "home_franchise home_queens">
    <h2>MEET SOME QUEENS</h2>
    <hr>
    <div class = "home_franchises_lineup">
        {% for i in range(0, drag_names|length) %}
        <a href = "/drag_queen_info/{{drag_queen_ids[i]}}">
        <div class = "home_drag_queen">
            <div class = "drag_queen_circle">
                <img class = "drag_queen_circle" src = "/static/photos/drag_queen_circle/{{drag_queen_ids[i]}}.webp">
            </div>
            <div class = "home_drag_queen_name">
                <h3>{{drag_names[i]}}</h3>
            </div>  
        </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}