{% extends "layout.html" %}
{% block content %}
<div class = "home_hero">
    <div class="home_hero_text">
        <div class = "home_title"></div>
        <div class = "home_subtitle"><h1>THE SHOW FOR ASPIRING DEATH DROPPERS!</h1></div>
    </div>
    <div class = "home_hero_rupaul"></div>
</div>




<h1>Meet the Queens</h1>
<div class = "home_grid">
    {% for i in range(0, drag_names|length) %}
    <a href = "/drag_queen_info/{{i+1}}">
    <div class = "home_drag_queen">
        <div class = "drag_queen_circle"><p>img</p></div>
        <div class = "home_drag_queen_name">{{drag_names[i]}}</div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}