{% extends "layout.html" %}
{% block content %}
<h2>Latest</h2>
<div class = "franchise">
    {% for index in range(season_names|length) %} <!--change to latest-->
    <a href = "/season_info/{{season_ids[index]}}">
        <div class = "season_poster">
            <h3>{{season_names[index]}}</h3>
        </div>
    </a>
    {% endfor %} 
</div>

{% for franchise in franchise_names %}
    <h2>{{franchise}}</h2> 
    <div class = "franchise">
        {% if franchise == "Rupaul's Drag Race" %}
            {% for index in range(season_names|length) %} <!--change to latest-->
            <a href = "/season_info/{{season_ids[index]}}">
                <div class = "season_poster">
                    <h3>{{season_names[index]}}</h3>
                </div>
            </a>
            {% endfor %} 
        {% endif %}
    </div>
{% endfor %}
{% endblock %}