{% extends "layout.html" %}
{% block content %}
<div class = "season_info_hero_image">
    <h1>{{season_name}}</h1>
</div>

<div class = "season_cast">
    <h2>Queens of the Season</h2>
    <div class = "season_queens">
        {% for index in range(0, season_queens_ids|length) %}
        <div class = "season_queen">
            <a href = "/drag_queen_info/{{season_queens_ids[index]}}">
                <div class = "drag_queen_circle season_queen_circle"><h2>drag queen img</h2></div>
                <div class = "season_queen_name">{{season_queens_name[index]}}</div>
            </a>
        </div>
        {% endfor %}
    </div>
    
</div>

<div class = "episode_section">
    <h2>Rerank the Queens in Each Episode</h2>
    <div class = "episodes">
        {% for index in range(0, season_episodes_ids|length) %}
        <div class = "episode">
            <a href = "/drag_queen_info/{{season_queens_ids[index]}}">
                <div class = "drag_queen_circle season_queen_circle"><h2>drag queen img</h2></div>
                <div class = "season_queen_name">{{season_queens_name[index]}}</div>
            </a>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}