{% extends "layout.html" %}
{% block content %}
<div class = "season_info_hero_image_container">
    <div class="season_info_hero_image_background">
        <img class = "season_info_hero_image" src = "/static/photos/season_info_pages/{{season_id}}.webp" alt="img not found">
    </div>
</div>

<div class="episode_padding">
    <a href="/seasons" class="episode_back_link">
        <h3>&lt; Back to seasons page</h3>
    </a>
</div>

<div class = "home_franchise home_queens">
    <h2>QUEENS OF {{season_name}}</h2>
    <div class = "home_franchises_lineup">
        {% for index in range(0, season_queens_ids|length) %}
        <a href = "/drag_queen_info/{{season_queens_ids[index]}}">
            <div class = "home_drag_queen">
                <div class = "drag_queen_circle">
                    <img class = "drag_queen_circle" src = "/static/photos/drag_queen_circle/{{season_queens_ids[index]}}.webp">
                </div>
                <div class = "home_drag_queen_name">
                    <h3>{{season_queens_name[index]}}</h3>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    
</div>

<div class = "episode_section">
    <h2>Episodes</h2>
    <div class = "episodes">
        {% for index in range(0, season_episodes_ids|length) %}
        <a href = "/episode_info/{{season_episodes_ids[index]}}">
            <div class = "episode_container">
                <div class="seasons_episodes_img">
                    <img class = "episode" src = "/static/photos/episodes/{{season_episodes_imgs[index]}}" alt="img not found">
                </div>
                <div class = "episode_filter"></div>
                <h3 class = "episode_name">{{season_episodes_names[index]}}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
    
</div>
{% endblock %}